<!DOCTYPE html>
<html>

<head>
  <title>FlowOverstack</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>
  <div class="container">

    <% if signed_in? %>
    <%= render partial: 'layouts/registered_nav' %>
    <div class="h3 mt-3">Hola
      <%= current_user.name %>


      <img src="<%= Gravatar.new(" #{current_user.email}").image_url %>" class="rounded-circle" width="35px"
      height="35px" >

    </div>
    <% else%>
    <%= render partial: 'layouts/unregistered_nav' %>

    <% end %>


    <%= yield %>


  </div>
</body>

</html>
